In [7]:
import pandas as pd
import os

# Define the base path for the data files
base_path = 'round-4-island-data-bottle'

# Define column names based on the data structure
# column_names = [
#     'timestamp',
#     'bid_price',
#     'ask_price',
#     'transport_fee',
#     'export_tariff',
#     'import_tariff',
#     'sugar_price',
#     'sunlight_index'
# ]

# Load observations from each day with proper column names
day1_obs = pd.read_csv(os.path.join(base_path, 'observations_round_4_day_1.csv'), 
                       )
day2_obs = pd.read_csv(os.path.join(base_path, 'observations_round_4_day_2.csv'), 
                       )
day3_obs = pd.read_csv(os.path.join(base_path, 'observations_round_4_day_3.csv'), 
                       )


# Combine all observations
all_observations = pd.concat([day1_obs, day2_obs, day3_obs], ignore_index=True)

# Display basic information about the combined dataset
print(f"Total number of observations: {len(all_observations)}")
print("\nFirst few rows of the combined dataset:")
print(all_observations.head())

# Display basic statistics
print("\nBasic statistics of the combined dataset:")
print(all_observations.describe())

# Save the combined dataset
all_observations.to_csv('combined_observations.csv', index=False)
print("\nCombined dataset saved to 'combined_observations.csv'")

Total number of observations: 30000

First few rows of the combined dataset:
   timestamp  bidPrice  askPrice  transportFees  exportTariff  importTariff  \
0          0     627.0     628.5            1.0           9.0          -3.0
1        100     630.0     631.5            1.0           9.0          -3.0
2        200     630.0     631.5            1.0           9.0          -3.0
3        300     632.0     633.5            1.0           9.0          -3.0
4        400     630.5     632.0            1.0           9.0          -3.0

   sugarPrice  sunlightIndex
0  200.000000          60.00
1  200.098445          60.00
2  200.103915          60.00
3  200.352462          60.01
4  200.201545          60.01

Basic statistics of the combined dataset:
           timestamp      bidPrice      askPrice  transportFees  exportTariff  \
count   30000.000000  30000.000000  30000.000000   30000.000000  30000.000000
mean   499950.000000    662.880117    664.394933       1.577587     10.164800
std    288679.944524     74.544616     74.545667       0.374981      0.686979
min         0.000000    522.500000    524.000000       1.000000      9.000000
25%    249975.000000    610.000000    611.500000       1.100000      9.500000
50%    499950.000000    653.000000    654.500000       1.700000     10.000000
75%    749925.000000    697.500000    699.000000       1.900000     10.500000
max    999900.000000    939.000000    940.500000       2.100000     11.500000

       importTariff    sugarPrice  sunlightIndex
count  30000.000000  30000.000000   30000.000000
mean      -3.677783    202.201901      55.167418
std        1.111055      6.707842      10.327112
min       -6.000000    191.684683      20.000000
25%       -4.000000    197.130671      47.210000
50%       -3.500000    199.932285      55.000000
75%       -3.000000    205.817348      64.190000
max       -2.000000    220.140330      70.000000

Combined dataset saved to 'combined_observations.csv'

In [9]:
all_observations["midPrice"] = ((all_observations["bidPrice"].astype(float) + all_observations["askPrice"].astype(float)) / 2).astype(float)


all_observations.head(5)

,timestamp,bidPrice,askPrice,transportFees,exportTariff,importTariff,sugarPrice,sunlightIndex,midPrice
0,0,627.0,628.5,1.0,9.0,-3.0,200.000000,60.00,627.75
1,100,630.0,631.5,1.0,9.0,-3.0,200.098445,60.00,630.75
2,200,630.0,631.5,1.0,9.0,-3.0,200.103915,60.00,630.75
3,300,632.0,633.5,1.0,9.0,-3.0,200.352462,60.01,632.75
4,400,630.5,632.0,1.0,9.0,-3.0,200.201545,60.01,631.25